# Forzar que todos los archivos de texto se normalicen a LF al hacer commit
* text=auto

# Asegurar que archivos específicos siempre usen LF (ideal para scripts de shell o config)
*.sh text eol=lf
*.json text eol=lf